.name{
	 		position: absolute;
	 		border-collapse: collapse;
	 		width: 100%;
	 	}
	 	th,td{
	 		text-align: center;
	 		padding: 8px;
	 	}
	 	tr:nth-child(even){
	 		background-color: #f2f2f2;
	 	}
	 	td{
	 		font-size: 30px;
	 		 background: linear-gradient(to right, rgb(0, 135, 255), darkblue);
	 		color: black;
	 		font-style: times;
	 	}
	 	.sidebartop{
	 		margin-top: 60px;
	 	}
	
	 	#circle {
	 		position: absolute;
			width: 180px;
			height: 180px;
			background: linear-gradient(to right, rgb(0, 135, 255), darkblue);
	        -moz-border-radius: 50px;
	        -webkit-border-radius: 50px;
			border-radius: 98px;
			top: 6px;
			left: 65px;
		}
		 /*#circle1 {
	 		position: absolute;
			width: 160px;
			height: 160px;
			background: linear-gradient(to right, rgb(0, 255, 23), darkgreen);
	        -moz-border-radius: 50px;
	        -webkit-border-radius: 50px;
			border-radius: 80px;
			top: 15px;
			left: 75px;
		}*/
		 .profile-image{
	 		position: absolute;
	 		left: 40px;
	 		top: 10px;
	 		border-radius: 90px;
	 	}

    	.abc{
    		position: absolute;
    		width: 300px;
    		display: inline-block;
    		vertical-align: top;
    		 background: linear-gradient(rgb(0, 135, 255), darkblue);
    		color: black;
    		margin-left: 20px;
    		margin-top: 160px;
    		height: 740px;

    	}
    	.contact{
    		position: absolute;
    		margin-top: 10px;
    		margin-left: 43px;
    		margin-right: 20px;
    		padding-bottom: -10px;
    	}
    	
	 	.objective{
		
		position: absolute;
		display: inline-block;
		vertical-align: top;
		margin-top: 230px;
		margin-left: 43px;
		margin-right: 20px;

		}
		.objective p {
			
  			display: inline-block;
  			vertical-align: top;
  			margin-top: 1px;
  		
		}
		
		.education{
			
			display: inline-block;
  			vertical-align: top;
			margin-left: 50px;
			margin-right: 40px;
  			margin-top:10px;
		}
	
	
		.experience{
			position: absolute;
			
			color: black;
			width: 60%;
			margin-left: 400px;
			margin-top: 140px;
		}
		.prof{
			margin-left: 50px;
			vertical-align: top;
			margin-right: 40px;
			display: inline-block;
			margin-top: 25px;
			
		}
		
		.p{
			margin-top: 0px;
			
			padding: 0px;
		}
		.work{
			margin-top: 0px;
			line-height: 0px;
			padding: 0px;
		}
		/*.dot{
			margin-left: -2%;
			list-style-type: square;
			font-size: 17px;

		}*/
		.skill{
			margin-left: 43px;
			vertical-align: top;
			margin-right: 20px;
			display: inline-block;
			margin-top: 400px;
		}
		.skill1{
			margin-left: 2px;
			vertical-align: top;
			margin-right: 20px;
			display: inline-block;
			font-size: 18px;
			
			padding-bottom: 10px;
		}
		.d, .f, .g, .h, .j, .k{
			padding-top: 7px;
			margin-left: 10px;

		}
		.s{
			margin-left: 10px;
		}
		.me{
			border-collapse: collapse;
	 		width: 100%;
	 		margin-top: 50px;

		}
		.m{
			background-color: blue;
	 		color: white;
	 		margin-left: 10px;
	 		border-spacing: 100px;
		}
		.e{
			font-size: 16px;
	 		background-color: blue;
	 		color: white;

		}
		
    	.fa{
    		display: inline-block;
    		color: black;
    	}
    	.ht1, .ht{
    		width: 100%;
    		outline-width: 100%;

    	}
    	
    	.icons{
    		position: absolute;
    		display: inline-block;
    		vertical-align: top;
    		margin-top: 60px;
    		margin-left: 87%;
    		margin-right: 30px;
    	}
    	.icons1{
    		position: absolute;
    		display: inline-block;
    		vertical-align: top;
    		margin-top: 60px;
    		margin-left: 90%;
    	}
    	.icons2{
    		position: absolute;
    		display: inline-block;
    		vertical-align: top;
    		margin-top: 60px;
    		margin-left: 93%;
    	}
    	.icons3{
    		position: absolute;
    		display: inline-block;
    		vertical-align: top;
    		margin-top: 60px;
    		margin-left: 96%;
    	}
    	.w, .q, .r{
    		padding-bottom: 3px;
    		font-size: 18px;
    		margin-left: -40px;
    		list-style-type: none;

    	}
    	.t, .y, .u, .i, .o{
    		padding-bottom: 3px;
    		font-size: 18px;
    		margin-left: 0px;
    		list-style-type: none;
    	}
